.page-sider {
  width: 100%;
  height: 100%;

  .menu-list {
    display: block;
    width: 100%;
    line-height: 50px;
    padding: 0 10px 0 45px;
    color: #333;

    img {
      width: 20px;
      height: 20px;
      margin-right: 11px;
    }

    &.menu-active {
      background: #F5F8FB;
      color: #409EFF;
    }

    &:hover {
      background: #F5F8FB;
      color: #409EFF;
    }
  }
}